@font-face {
    font-family: 'Nunito';
    src: url('fontes/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Seasons';
    src: url('fontes/Fontspring-DEMO-theseasons-lt.otf') format('opentype');
}
@font-face {
    font-family: 'Atteron';
    src: url('fontes/Atteron.ttf') format('truetype');
}
@font-face {
    font-family: 'Questrial';
    src: url('fontes/Questrial-Regular.ttf') format('truetype');
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:  #ebdcd5;
}

header {
  background-color: #dbb891;
  color: #fff;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

#ho{
  position: relative;
  left: 350px;
  bottom: 40px;
  font-family: 'Nunito';
}

#pr{
  position: relative;
  left: 170px;
  bottom: 40px;
  font-family: 'Nunito';
}

#co{
  position: relative;
  bottom: 40px;
  font-family: 'Nunito';
}

#ca{
  position: relative;
  right: 170px;
  bottom: 40px;
  font-family: 'Nunito';
}

#logo{
  position: relative;
  right: 500px;
  height: 110px;
  bottom: 60px;
}
#imgfds1 {
  position: relative;
  right: 340px;
  bottom: 100px;
  height: 0px;
}

#imgfds2{
  position: relative;
  bottom: 100px;
  left: 550px;
  height: 0px;
}

#home {
  display: flex;
  justify-content: center;
  height: 100vh;
}

#introducao{ 
  position: relative;
  right: 377px;
  height: 500px;
  width: 500px;
  font-size: 0px;
  background-color: #333;
}

#produtos {
  padding: 2em;
}

.carrossel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.tituloProdutoG {
    font-size: 50px;
    font-family: 'Seasons';
}

.produto {
  margin-right: 20px;
  scroll-snap-align: center;
  font-family: 'Questrial';
}

.produto img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.adicionar-carrinho {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

#adicionar-carrinho:hover {
  background-color: red;
}

#contato {
  padding: 2em;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal h2 {
  text-align: center;
}

#carrinho-lista {
  list-style: none;
  padding: 0;
  margin: 0
}